@tailwind base;
@tailwind components;
@tailwind utilities;


.row {
  gap: 10px;
  display: flex;
  margin-bottom: 10px;
}
.cuadro {
  width: 60px;
  height: 60px;
  border: none;
  background-color: #787c7e;
  outline: none;
  font-size: 30px;
  text-transform: uppercase;
}
.gold {
  background-color: gold;
}
.grey {
  background-color: #787c7e;
}
.green {
  background-color: #6aaa64;
}
/* .pokemon-img {
  filter: grayscale(100%) brightness(0)
} */